GEMINI_API_KEY=your-api-key-here
# GOOGLE_API_KEY=your-api-key-here
GEMINI_MODEL=gemini-3-flash-preview
GEMINI_EMBEDDING_MODEL=gemini-embedding-2
QDRANT_URL=https://2468b96d-f0ae-a440-74b23e10aa08.us-east-1-1.aws.cloud.qdrant.io:6333
# QDRANT_API_KEY=your-api-key-here
QDRANT_COLLECTION_NAME=basic_rag_documents
BASIC_RAG_API_HOST=0.0.0.0
BASIC_RAG_API_PORT=8000
BASIC_RAG_TOP_K=3
